@font-face {
    font-family: switch;
    src: url("/assets/switch-font.ttf");
}

html {
    font-family: switch, sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.round {
    border-radius: 100px;
}

.header-right {
    display: flex;
    justify-content: space-between;
}

.link-container {
    display: flex;
    justify-content: space-around;
}

.game-container {
    margin: 30px 0 30px 0;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent line breaks */
    padding: 10px;
}

.game-wrapper {
    display: inline-block; /* Ensure content stays in a single line */
    width: max-content;
    position: relative;
    margin: 0 20px;
    line-height: 0; 
}

.game-overlay {
    position: absolute; /* Position the overlay absolutely within the game wrapper */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: none; /* Initially hide the overlay */
    text-align: center;
}

.title {
    color: cyan;
}

.icon:not(.icon-hover), .game-wrapper:not(.icon-hover) {
    border: solid 3px transparent;
}

.icon-hover {
    border: solid 3px cyan;
}

.hidden {
    display: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    border-top: solid rgb(170, 168, 168);
    margin-top: 30px;
    padding-top: 20px;
}

.footer-right {
    display: flex;
    align-items: center;
}

#current-time {
    font-weight: bold;
}

#ok {
    font-weight: bold;
}

.rotate-image {
    animation: rotate 4s infinite linear; /* Apply animation */
  }

@keyframes rotate {
    0% {
        transform: rotate(0deg); /* Initial rotation */
    }
    100% {
        transform: rotate(360deg); /* Final rotation */
    }
}

@media only screen and (max-width: 480px) {
    /* Styles for iPhones */
    #screen-logo {
        content: url("https://media.istockphoto.com/id/1252614899/vector/mobile-phone.jpg?s=612x612&w=0&k=20&c=e_TSUrit9i53XJBEAF1mmnD8cDj2A2lYnQDGSdb2g9Y=");
        width: 50px;
        height: 50px;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
  
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  
.blur {
    filter: blur(5px);
    pointer-events: none;
}
  